<%- include('./partials/header') %>
<main>

  <div id="showcase">
      <h1>Welcome to Chicago Lakeview Coffee</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut nihil, voluptates incidunt laborum!</p>
      <% if (user) { %>
        <a href="/shops" class="button">See All Coffee Shops</a>
        <% } else { %>
          <a href="/auth/google" class="button">Login to Explore</a>
          <% } %>
  </div>  


</main>
<%- include('./partials/footer') %>