<%- include('./partials/header') %>
<main>

  <div id="showcase">
      <h1>Welcome to Chicago Lakeview Coffee</h1>
      <p>Learn about popular coffee shops in the Chicago Lakeview area. <br>Read the reviews, visit the shop, then add your own reviews! </p>
      <% if (user) { %>
        <a href="/shops" class="button">See All Coffee Shops</a>
        <% } else { %>
          <a href="/auth/google" class="button">Login to Explore</a>
          <% } %>
  </div>  


</main>
<%- include('./partials/footer') %>