<%- include('./partials/header') %>
<main>
    <% if (user) { %>
        <a href="/shops" >See All Coffee Shop</a>
        <a href="/shops/new" >Add Coffee Shop</a>
        <% } else { %>
          
          <% } %>


</main>
<%- include('./partials/footer') %>