body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

.brand-logo {
    margin-left: 5vh;
}

#showcase {
    background-image: url('/images/coffee_cup.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;

}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
}

#showcase p {
    font-size: 20px;
}

#showcase a {
    font-size: 20px;
    color: black;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: black 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover{
    background: black;
    color: white;
}

#new-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#new-shop p {
    font-size: 15px;

}

#new-shop .button{
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: black 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#new-shop .button:hover{
    background: black;
    color: white;
}


#add-shop {
    background-image: url('/images/coffee_shop.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#add-shop h1 {
    text-align: center;
    margin-top: 10px;
    color: black;
}

#add-shop .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;

}

.new-form {
    margin-left: 5vh;
    margin-right: 5vh;
    color: black;
}

#new-shop-form {
    background: white;
    margin-left: 5vh;
    margin-right: 5vh;
    color: black;
    padding: 10px;
    border:  black 2px solid;
}

#new-shop-form .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.shop-index {
    background: tan;
}

#reviews header {
    align-items: center;
}

#edit-review {
    background-image: url('/images/coffee_shop.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

#edit-review-form {
    background: white;
    margin-left: 5vh;
    margin-right: 5vh;
    color: black;
    padding: 10px;
    border:  black 2px solid;
}

#save-review-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}