<%- include('../partials/header') %>

<div id="add-shop">
    <a class="waves-effect waves-light btn-large brown lighten-3" href='/shops'>Back to all shops</a>
    <div id="new-shop-form">
        <h1>Add a New Shop</h1>
        <form id="new-form" action="/shops" method="POST">
            <label>Coffee Shop Name:</label>
            <input placeholder="i.e. Joe's Cup of Joe"type="text" name="name">
            <label>Website URL</label>
            <input placeholder="http://websiteurl.com" type="text" name="websiteUrl">
            <label>Add a Picture</label>
            <input placeholder="Please use image URL" type="text" name="picture">
            <input class="waves-effect waves-light btn-large brown lighten-4" type="submit" value="Add Coffee Shop">
        </form>
    </div>
  </div>
<%- include('../partials/footer') %>